.top-detail {
  position: relative;
  top: 16px;
  margin-top: -36px;
  left: 43%;
  width: 14%;
  height: 24px;
  background-color: darkorange;
  border-radius: 10px 10px 0 0;
  border: 4px groove silver;
  color: silver;
  text-shadow: 0 0 2px black;
  padding-top: 4px;
  font-size: 16px;
}
