.App {
  text-align: center;
  background-image: url("tile.svg");
  background-repeat: repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}
.header {
  padding-top: 16px;
}
.header h1 {
  font-family: "Monoton", cursive;
  color: #fbba9a;
  font-weight: 400;
  margin: 8px;
}
.main {
  font-family: "Fugaz One", cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.author {
  font-style: italic;
}
.error {
  color: lightcoral;
}
p.construction {
  align-self: flex-end;
  bottom: 8px;
  font-size: 16px;
  margin: 8px;
}
.section.top {
  padding: 0 5% 5%;
  margin-bottom: 40px;
  border-bottom: 4px ridge silver;
}
.selection-by {
  padding: 0 25%;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
