form {
  grid-area: form;
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 8px;
}

@media (min-width: 900px) {
  form {
    padding-right: 0px;
  }
}
