.history-container {
  max-width: 90%;
  overflow-x: scroll;
  display: flex;
  flex-direction: row;
}

.history-container div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}
