html,
body {
  height: 100%;
  margin: 0;
}

.App {
  text-align: center;
  background-color: #7b4f3b;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}
.header {
  grid-area: header;
}
.header h1 {
  font-family: "Monoton", cursive;
  color: #fbba9a;
  font-size: 40px;
  font-weight: 100;
  margin: 0;
}

h2 {
  margin: 0;
}

.main {
  margin: 0;
  height: 100vh;
  font-family: "Fugaz One", cursive;
  display: grid;
  grid-template-columns: 1fr minmax(600px, 1fr) 1fr;
  grid-template-rows: min-content min-content min-content 1fr auto;
  grid-template-areas:
    ". header ."
    ". now-playing ."
    ". track-select ."
    ". history ."
    ". form ."
    ". . signature";
  grid-gap: 16px;
}
.author {
  font-style: italic;
}
.error {
  color: lightcoral;
}
p.signature {
  grid-area: signature;
  justify-self: flex-end;
  bottom: 8px;
  font-size: 16px;
  margin: 8px;
}
.now-playing {
  grid-area: now-playing;
}
.player {
  justify-content: center;
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}
.player iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
